.commodity-list {
  &-container {
    margin-top: 40px;
    padding: 0 17px;
    background-color: #fbfcfe;
    flex-grow: 1;
  }

  &-cases {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &-item {
      display: inline-block;
      background-color: #ebf5fb;
      width: 40vw;
      height: 29vw;
      padding: 20px 40px;
      margin: 7px 2px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #5cade1;
      }

      &:hover .clci-svg {
        background-color: #fff;
      }
    }
  }

  &-methods {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &-item {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #ebf5fb;
      border-radius: 5px;
      width: 40vw;
      min-height: 8.5vw;
      padding: 10px 20px;
      margin: 7px 2px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #5cade1;
      }

      &:hover .clmi-logo {
        background-color: #fff;
      }

      &:hover .clmi-text {
        color: #fff;
      }
    }
  }
}

.clci-chosen {
  background-color: #5cade1;
}

.clci-svg {
  width: 100%;
  height: 100%;
  background-color: #5cade1;
  transition: 0.2s;

  &-3-hour {
    mask: url('../assets/svg/CommodityList/photo_3hr.svg');
    -webkit-mask: url('../assets/svg/CommodityList/photo_3hr.svg');
    mask-size: 100% 100%;
  }

  &-24-hour {
    mask: url('../assets/svg/CommodityList/photo_24hr.svg');
    -webkit-mask: url('../assets/svg/CommodityList/photo_24hr.svg');
    mask-size: 100% 100%;
  }

  &-30-days {
    mask: url('../assets/svg/CommodityList/photo_30days.svg');
    -webkit-mask: url('../assets/svg/CommodityList/photo_30days.svg');
    mask-size: 100% 100%;
  }

  &-90-days {
    mask: url('../assets/svg/CommodityList/photo_90days.svg');
    -webkit-mask: url('../assets/svg/CommodityList/photo_90days.svg');
    mask-size: 100% 100%;
  }

  &-chosen {
    background-color: #fff;
  }
}

.clmi {
  &-logo {
    width: 28px;
    height: 21px;
    display: inline-block;
    background-color: #5cade1;
    transition: 0.2s;

    &-creditcard {
      mask: url('../assets/svg/CommodityList/icon_credit_card.svg');
      -webkit-mask: url('../assets/svg/CommodityList/icon_credit_card.svg');
      mask-size: 28px 21px;
    }

    &-atm {
      mask: url('../assets/svg/CommodityList/icon_atm.svg');
      -webkit-mask: url('../assets/svg/CommodityList/icon_atm.svg');
      mask-size: 28px 21px;
    }

    &-paypal {
      mask: url('../assets/svg/CommodityList/icon_paypal.svg');
      -webkit-mask: url('../assets/svg/CommodityList/icon_paypal.svg');
      width: 83px;
      height: 21px;
      mask-size: 83px 21px;
    }

    &-barcode {
      mask: url('../assets/svg/CommodityList/icon_barcode.svg');
      -webkit-mask: url('../assets/svg/CommodityList/icon_barcode.svg');
      mask-size: 28px 21px;
    }

    &-chosen {
      background-color: #fff;
    }
  }

  &-text {
    font-size: 15px;
    margin: 5px 10px;
    text-align: center;
    font-weight: bold;
    color: #5cade1;
    transition: 0.2s;

    &-chosen {
      color: #fff;
    }
  }

  &-chosen {
    background-color: #5cade1;
  }
}
