@import './style/heading';
@import './style/headerBar';
@import './style/commodityList';
@import './style/pageController';
@import './style/payinfo';
@import './style/checkOrder';

* {
  position: relative;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
